<!-- chatbot/templates/chatbot.html -->
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Weather Chatbot</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <script src="{% static 'js/script.js' %}"></script>
</head>
<body>
    <div class="container">
        <h1>Weather Chatbot</h1>
        <form method="post" action="{% url 'chatbot' %}">
            {% csrf_token %}
            <input type="text" name="user_input" placeholder="Enter your weather query here" required>
            <button type="submit">Submit</button>
        </form>
        
        <div class="response">
            <p>{{ response }}</p>
        </div>
        <div class="examples">
            <h2>Examples:</h2>
            <ul>
                <li>Current weather in Ahmedabad</li>
                <li>Weather forecast for the next few hours in Delhi</li>
                <li>Weather tomorrow in Mumbai</li>
            </ul>
        </div>
    </div>
</body>
</html>
